//font-family: 'Roboto', sans-serif;

@use './colors' as color;

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	font-size: 62.5%;
	font-family: 'roboto', sans-serif;
	background-color: color.$grey;
}

// Nav

.nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 'span none btn';
	align-content: center;
	justify-items: center;
	width: 100%;
	height: 10vh;

	&__logo {
		grid-column-start: 1;
		margin-left: 2rem;
		padding: 0.2rem;
		font-size: 1.4rem;
		font-weight: bold;
		color: color.$darkBlue;
	}

	&__btn {
		grid-column-start: 3;
		align-self: center;
		width: 100px;
		height: 35px;
		margin-right: 2rem;
		font-family: 'roboto', sans-serif;
		font-weight: bold;
		font-size: 0.8rem;
		color: color.$white;
		background-color: color.$darkBlue;
		border: 1px solid transparent;
		border-radius: 50px;
		cursor: pointer;
	}
}

// Header

.heading {
	height: 100vh;

	&__description {
		height: 40vh;
		padding: 1rem;
	}

	&__header {
		font-size: 2.2rem;
		color: color.$darkBlue;
	}

	&__text {
		margin-top: 1rem;
		font-size: 0.9rem;
		font-weight: 500;
		color: color.$darkBlue;
	}

	&__btn {
		width: 8rem;
		height: 1.5rem;
		margin-top: 1rem;
		font-family: 'roboto', sans-serif;
		font-weight: bold;
		color: color.$white;
		background-color: #4158d0;
		background-image: color.$gradient;
		border: none;
		border-radius: 50px;
	}
}

@media (min-width: 768px) {
	// Header
	.nav {
		padding-top: 2rem;
		&__logo {
			font-size: 2.5rem;
		}
		&__btn {
			width: 200px;
			height: 50px;
			font-size: 1.4rem;
		}
	}

	//
}

@media (min-width: 1200px) {
	//Header
	.nav {
		height: 15vh;
		padding-top: 0;

		&__logo {
			font-size: 4rem;
		}
		&__btn {
			width: 300px;
			height: 65px;
			font-size: 2rem;
		}
	}
}
